<div class="bd-content ps-lg-4">	
	<p id="notice"><%= notice %></p>
	<div class="accordion" id="accordionExample">
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="headingOne">
	      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	        <%= @post.title%>
	      </button>
	    </h2>
	    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
	      <div class="accordion-body">
	        <%= @post.body %>
	      </div>
	    </div>
	  </div>
	</div>
</div></br>
<%= link_to 'Edit', edit_admins_post_path(@post) %> |
<%= link_to 'Back', admins_posts_path %>