<!DOCTYPE html>
<html>
  <head>
    <title>DemoProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Begin Bootstrap Navbar -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Demo Project</a>    
        <%= link_to 'Logout',destroy_user_session_path, method: :delete if current_user.present?%>
      </div>
    </nav>    
    <!-- End Bootstrap Navbar -->
    <div class="container-xxl my-md-4 bd-layout">
      <aside class="bd-sidebar">
      </aside>
      <main class="bd-main order-1">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
